@{
    ViewBag.Title = "Welcome to HERO";
}

@Html.Partial("_LeftMenu")

<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Welcome to HERO</h1>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">About HERO</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p>HERO is a light-weight software system designed specifically to streamline the tedious processes associated with managing a CrossFit gym. HERO provides an array of features for both  and athletes to improve their overall CrossFit experience.</p>
                    @if (User.IsInRole("Admin"))
                    {
                        <strong>Current Admin Features:</strong>
                        <ul>
                            <li>Manage all your athletes and subscription levels from one convienent dashboard</li>
                            <li>Create recurring classes using the Weekly Class Scheduler</li>
                            <li>Easiy create new WODs and add them to your classes so that your athletes can track their day to day performance</li>
                            <li>Use the class calendar to add the same WOD to all classes that take place on that day</li>
                        </ul>
                        <strong>Planned Features:</strong>
                        <ul>
                            <li>A reminder system to keep you up to date on expiring athlete contracts, class-renewals, etc</li>
                            <li>Class and athlete analytics to help you understand how clients interact with your gym</li>
                            <li>WOD and class searching to help you go back through the workouts you've assigned in the past</li>
                        </ul>
                    } else
                    {
                        <strong>Current Athlete Features:</strong>
                        <ul>
                            <li>Easily get details about every class at your gym including the assigned WOD and the other members attending</li>
                            <li>Use the convienent class calendar to sign up for classes with just a few clicks</li>
                            <li>Go back through your past classes and record your performance against that classes workout</li>
                        </ul>
                        <strong>Planned Features:</strong>
                        <ul>
                            <li>Set up email reminders to tell you when you haven't signed up for the class you normally attend</li>
                            <li>Search through your performances to see your improvement against specific movements or WODs</li>
                            <li>Easily store your performance data for the CrossFit HERO and GIRL workouts, and visualize your improvements in those workouts over time</li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
